@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply border-2 border-black py-2 px-4 text-3xl;
}

.btn-submit {
  @apply h-12 w-auto border-2 border-black py-2 px-4 text-xl;
}

.input-text {
  @apply border-2 border-black py-2 px-4 text-3xl;
}

.card {
  @apply border-2 border-black bg-blue py-2 px-4 text-3xl;
}

.streamline {
  @apply bg-blue border-2 border-black py-2 px-4 text-5xl;
}

.shadow-solid {
  box-shadow: 3px 3px black;
  border-radius: 10px;
}
.shadow-solid-reverse {
  box-shadow: 3px 3px wheat;
  border-radius: 10px;
}

.shadow-solid-curve {
  box-shadow: 5px 5px black;
  border-radius: 30px;
}

.shadow-solid-div {
  box-shadow: 5px 5px black;
  border-radius: 3px;
}
.shadow-solid-curve-btn {
  box-shadow: 2px 2px black;
  border-radius: 20px;
}

.shadow-solid-div-btn {
  box-shadow: 2px 2px black;
  border-radius: 1px;
}

textarea:focus,
input:focus {
  outline: none;
}

.test {
  width: 10vh;
  height: 4vh;
  background-color: red;
}
